{# details/templates/details/detail/create.html #}
{% extends "wagtailadmin/generic/create.html" %}
{% load i18n wagtailadmin_tags core_tags %}

{% block main_header %}
    {% include "wagtailadmin/shared/header.html" with title=page_title subtitle=page_subtitle icon="plus" %}
{% endblock %}

{% block before_form %}
    <div class="help-block help-info w-mb-6">
        <svg class="icon icon-help w-w-4 w-h-4" aria-hidden="true"><use href="#icon-help"></use></svg>
        <div>
            <h4 class="w-h5 w-mt-0 w-mb-1">
                {% get_label 'details' 'ui_create_help_title' 'Hướng dẫn tạo mới' %}
            </h4>
            <p>
                {% get_label 'details' 'ui_create_help_ai' 'Mẹo: Bạn chỉ cần nhập tên Tiếng Việt hoặc Tiếng Trung. Hệ thống AI sẽ tự động dịch sang Tiếng Anh, Pinyin và các ngôn ngữ Đông Nam Á khác sau khi bạn nhấn Lưu.' %}
            </p>
        </div>
    </div>
{% endblock %}