{# details/templates/details/detail/history.html #}
{% extends "wagtailadmin/generic/history.html" %}
{% load i18n wagtailadmin_tags core_tags %}

{# Override Header để dùng Label động #}
{% block main_header %}
    {% include "wagtailadmin/shared/header.html" with title=page_title subtitle=object.name icon="history" %}
{% endblock %}

{% block history_list %}
    {% if history_items %}
        {{ block.super }}
    {% else %}
        <div class="nice-padding">
            <p>{% get_label 'details' 'msg_no_history' 'Chưa có lịch sử thay đổi nào.' %}</p>
        </div>
    {% endif %}
{% endblock %}